node_modules
dist
node_dist
frontend_production
frontend_development
.DS_Store
.idea
VERSION
yarn-error.log
.env
ci-tests/reports
secure.log
*.iml
.eslintcache
# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
