.container {
    font-family: 'Source Sans Pro', Arial, Helvetica, sans-serif;
}

.header {
    font-family: 'Source Sans Pro', Arial, Helvetica, sans-serif;
}

button {
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
}

.modal__overlay {
    z-index: 2000; // Hack for at overlay skal legges over headerMedSøk og andre elementer
}