name: Build app

on: [pull_request, workflow_dispatch]

jobs:
  build:
    name: Bygg app og Docker image
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # ratchet:actions/checkout@v4
      - uses: actions/setup-node@a0853c24544627f65ddf259abe73b1d18a591444 # ratchet:actions/setup-node@v4
        with:
          node-version: '20'
          cache: yarn
          registry-url: 'https://npm.pkg.github.com'
      - name: Yarn install
        run: yarn --prefer-offline --frozen-lockfile
        env:
          NODE_AUTH_TOKEN: ${{ secrets.READER_TOKEN }}
      - name: Yarn lint (eslint feil)
        run: yarn lint --max-warnings=0
      - name: Yarn test
        run: yarn test
      - name: Yarn build
        run: yarn build
