name: Build app

on: [pull_request, workflow_dispatch]

jobs:
  build:
    name: Bygg app og Docker image
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # ratchet:actions/checkout@v4
      - uses: actions/setup-node@a0853c24544627f65ddf259abe73b1d18a591444 # ratchet:actions/setup-node@v4
        with:
          node-version: '20'
          cache: npm
          registry-url: 'https://npm.pkg.github.com'
      - name: npm ci
        run: npm ci
        env:
          NODE_AUTH_TOKEN: ${{ secrets.READER_TOKEN }}
      - name: npm lint (eslint feil)
        run: npm run lint -- --max-warnings=0
      - name: npm test
        run: npm test
      - name: npm build
        run: npm run build
